<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link
               href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
               rel="stylesheet"
          />
          <title><%= subject %></title>
     </head>
     <body
          style="
               margin: 0;
               padding: 0;
               box-sizing: border-box;
               font-family: 'Roboto Mono', monospace;
               height: 100%;
          "
     >
          <div
               style="
                    height: 100%;
                    width: 80%;
                    padding: 1rem;
                    background-color: #efefef;
                    margin-top: 10px;
               "
          >
               <h4>Dear <%= name %>,</h4>

               <p style="font-size: 12px; font-weight: 300; line-height: 20px">
                    Thank you for signing up with Blossom Blend! To complete
                    your registration, we need to verify your email address.
                    Please click the link below to verify your email:
               </p>

               <a
                    href="<%= url %>"
                    style="
                         padding: 10px 13px;
                         text-align: center;
                         text-decoration: none;
                         border-radius: 10px;
                         background-color: #fb7171;
                         color: rgb(23, 23, 23);
                         font-size: 14px;
                    "
                    >Click me</a
               >

               <p style="font-size: 12px; font-weight: 300; line-height: 20px">
                    If you did not sign up for Blossom Blend, please ignore this
                    message. Thank you, fullname Blossom Blend.
               </p>
          </div>
     </body>
</html>
