<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title><%= subject %></title>
     </head>
     <body>
          <div>
               <h4>Dear <%= name %>,</h4>

               <p>
                    Thank you for signing up with Blossom Blend! To complete
                    your registration, we need to verify your email address.
                    Please click the link below to verify your email:
               </p>

               <a href="<%= url %>">Click</a>

               <p>
                    If you did not sign up for Blossom Blend, please ignore this
                    message. Thank you, fullname Blossom Blend
               </p>
          </div>
     </body>
</html>
