<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title><%= subject %></title>
     </head>
     <body>
          <div>
               <h3>Dear <%= name %></h3>

               <h4>Blossom Blend Login Confirmation</h4>

               <p>
                    Please be informed that your Blossom Blend Profile was
                    accessed on <%= date %>
               </p>
          </div>
     </body>
</html>
