<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <link
               href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
               rel="stylesheet"
          />
          <title><%= subject %></title>
     </head>
     <body
          style="
               margin: 0;
               padding: 0;
               box-sizing: border-box;
               display: flex;
               justify-content: center;
               align-items: center;
               font-family: 'Roboto Mono', monospace;
          "
     >
          <div
               style="
                    height: 500px;
                    width: 90%;
                    padding: 1rem;
                    background-color: #efefef;
                    margin-top: 3rem;
               "
          >
               <center>
                    <h1 style="font-size: 17px; text-align: center">
                         Welcome to Blossom Blend, <%= name %>!
                    </h1>
                    <p
                         style="
                              font-size: 13px;
                              text-align: center;
                              font-style: italic;
                              line-height: 20px;
                              margin: 3rem 0;
                         "
                    >
                         We're thrilled to welcome you to Blossom Blend! Thank
                         you for choosing us for all your shopping needs. We're
                         committed to providing you with a seamless and
                         enjoyable shopping experience.
                    </p>
                    <a
                         href="<%= url %>"
                         style="
                              background-color: #e47a53df;
                              padding: 1rem 1.3rem;
                              text-decoration: none;
                              border-radius: 4px;
                              color: #e5e5e5d6;
                         "
                         >Start Shopping</a
                    >
               </center>
          </div>
     </body>
</html>
